
.blogheader {
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #e3e3e3;
}

h1 {
    margin: 0;
    color: #3a3a3a;
    line-height: 23px;
}

h2 {
    font-size: 17px;
    font-weight: normal;
    line-height: 23px;
    margin-top: 10px;
    color: #3a3a3a;
    letter-spacing: 1px;
    margin-bottom: 0;
}

.subtitle {
    font-size: 20px;
    font-weight: normal;
    line-height: 23px;
    color: #3a3a3a;
    letter-spacing: 1px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.mobilesub {
    font-size: 20px;
    font-weight: normal;
    line-height: 23px;
    color: #3a3a3a;
    letter-spacing: 1px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.pens {
    margin: 0 50px;
}

.pens div {
    margin: 0 auto 30px auto;
}

.mobile {
    max-width: 550px;
    margin: 0 auto;
    padding: 0 25px;
}

.mobilec {
    margin: 0 auto;
    padding: 0 25px;
    text-align: center;
}

hr {
    margin: 0;
    border-top: 0;
    border-bottom: 1px solid #e3e3e3;
    padding-bottom: 30px;
}

p {
    font-size: 17px;
    line-height: 27px;
    color: #4d4d4d;
    max-width: 550px;
}