<div class="headercontainer">
  <div class="blogheader">
    <h1>Stuff</h1>
    <h2>Projects, Code, and About</h2>
  </div>
  <div>
    <h2>CodePens for FreeCodeCamp</h2>
    <p data-height="476" data-theme-id="0" data-slug-hash="mMEWXQ" data-default-tab="result" data-user="ayrra" data-embed-version="2" data-pen-title="freecodecamp: Tic Tac Toe " class="codepen">See the Pen <a href="https://codepen.io/ayrra/pen/mMEWXQ/">freecodecamp: Tic Tac Toe </a> by Andres Yrra (<a href="https://codepen.io/ayrra">@ayrra</a>) on <a href="https://codepen.io">CodePen</a>.</p>
    <script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script><p data-height="476" data-theme-id="0" data-slug-hash="mMEWXQ" data-default-tab="result" data-user="ayrra" data-embed-version="2" data-pen-title="freecodecamp: Tic Tac Toe " class="codepen">See the Pen <a href="https://codepen.io/ayrra/pen/mMEWXQ/">freecodecamp: Tic Tac Toe </a> by Andres Yrra (<a href="https://codepen.io/ayrra">@ayrra</a>) on <a href="https://codepen.io">CodePen</a>.</p>
  </div>
</div>
