


h1 {
    line-height: 30px;
    font-size: 22px;
    font-weight: bold;
    color: #4a4A4A;
    margin: 0 0 0 50px;
    padding-top: 50px;
}

h3 {
    line-height: 20px;
    font-size: 15px;
    margin: 0 0 0 50px;
    padding-top: 30px;
}

.inputfield {
    width: 70%;
    font-size: 16px;
}

.inputtext {
    width: 90%;
    font-size: 16px;
}

form {
    margin-left: 50px;
    max-width: 600px;
}

.subbutton {
    letter-spacing: 1px;
    font-size: 16px;
    border: 1px solid #4d4d4d;
    border-radius: 20px;
    font-weight: 700;
    background: none;
}

.mobile {
    margin: 0 auto;
    max-width: 600px;
}