
.postcontent {
    max-width: 550px;
    font-size: 17px;
    line-height: 27px;
    font-weight: 400;
    color: #4d4d4d;
    margin-bottom: 20px;
}

h1 {
    font-size: 26px;
    margin: 0;
    font-weight: 700;
    line-height: 26px;
}

h3 {
    padding-top: 7px;
    font-size: 17px;
    margin: 0;
    color: #4d4d4d;
}

.mobile {
    max-width: 550px;
    margin: 0 auto;
    padding: 0 25px;
}

.but {
    font-weight: 700;
}
