.menu {
    min-height: 100%;
    padding-left: 10%;
    padding-top: 30px;
}

.mobilemenu {
    text-align: center;
}

.portrait {
    height: 170px;
    width: 170px;
    border-radius: 50%;
    border: 1px solid #0685c4;
    border-width: 10px;
    padding: 5px;
}

h1 {
    font-size: 30px;
    line-height: 30px;
    margin: 15px 0 0 0;
    font-weight: 900;
    color: black;
}

h2 {
    margin: 10px 0 0 0;
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 16px;
    text-transform: uppercase;
    font-weight: 900;
}

h3 {
    margin: 10px 0 25px 0;
    font-size: 16px;
    line-height: 23px;
    color: #585c60;
    font-weight: 300;
}

.links {
    font-size: 15px;
    line-height: 14px;
    outline: none;
    padding: 7px;
    padding-left: 5px;
    color: #999;
    font-weight: 600;
    border-radius: 20px;
    text-decoration: none;
    display: block;
    margin-top: 0;
    margin-bottom: 6px !important;
}

.active {
    color: black;
}