<div class="menu" class.md="mobilemenu" class.sm="mobilemenu" class.xs="mobilemenu">
  <a routerLink="/home"><img class="portrait" src="assets/images/headshot.jpeg" alt="Portrait"></a>
  <h1>Andres Yrra</h1>
  <h2>Web Developer</h2>
  <h3>San Diego, California</h3>
  
  <div fxLayout="column"
    fxLayoutAlign.md="center"
    fxLayoutAlign.sm="center"
    fxLayoutAlign.xs="center"
    fxLayout.md="row"
    fxLayout.sm="row"
    fxLayout.xs="row"
    fxLayoutGap="0"
    class.sm="mobilemenu"
    class.xs="mobilemenu">
    <a class="links" routerLink="/blog" routerLinkActive="active">Blog</a>
    <a class="links" routerLink="/stuff" routerLinkActive="active">Stuff</a>
    <a class="links" routerLink="/contact" routerLinkActive="active">Contact</a>
  </div>
  <app-socialfooter></app-socialfooter>
</div>
