<div class="menu" class.sm="mobilemenu" class.xs="mobilemenu">
  <img class="portrait" src="assets/images/headshot.jpeg" alt="Portrait">
  <h1>Andres Yrra</h1>
  <h2>Web Developer</h2>
  <h3>San Diego, California</h3>
  
  <div fxLayout="column"
    fxLayoutAlign.sm="center"
    fxLayoutAlign.xs="center"
    fxLayout.sm="row"
    fxLayout.xs="row"
    class.sm="mobilemenu"
    class.xs="mobilemenu">
    <p>Blog</p>
    <p>Stuff</p>
    <p>Contact</p>
  </div>
    
  <div> 
    <ul>
      <li><a class="fa fa-linkedin" href="https://linkedin.com/in/ayrra/"></a></li>
      <li><a class="fa fa-github" href="https://www.github.com/ayrra"></a></li>
      <li><a class="fa fa-envelope" href="mailto:andy@yrra.net"></a></li>
      <li><a class="fa fa-facebook" href="https://www.facebook.com/andres.yrra"></a></li>
      <li><a class="fa fa-flickr" href="https://www.flickr.com/7_u"></a></li>
    </ul>
  </div>
</div>
