<div class="blogcontainer">
  <div class="headercontainer" class.md="mobile mpad" class.sm="mobile mpad" class.xs="mobile mpad">
    <div>
      <h1>Andres's Blog</h1>
      <h2>Thoughts, Posts, and Everything Else</h2>
    </div>
  </div>
  <hr fxShow fxHide.gt-md />
  <div *ngFor="let post of posts">
    <div class.md="mobile" class.sm="mobile" class.xs="mobile" >
      <a [routerLink]="['/blog', post.seq]"><h2 class="blogtext" class.md="blogtextmobile" class.sm="blogtextmobile" class.xs="blogtextmobile">{{post.title}}</h2></a>
    </div>
    <hr/>
  </div>
</div>
