
h1 {
    margin: 0;
    color: #3a3a3a;
    line-height: 23px;
}

h2 {
    font-size: 17px;
    font-weight: normal;
    line-height: 23px;
    margin-top: 10px;
    color: #3a3a3a;
    letter-spacing: 1px;
    margin-bottom: 0;
}

.froala {
    width: 75%;
}
