
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
}

.container {
    margin: 20px;
    display: flex;
}

.containermenu {
    display: flex;
    margin-top: 15px;
}

.flex-spacer {
    flex: 1 1 auto;
  }

.contentcontainer {
    border-left: 1px solid #e3e3e3;
    padding-left: 50px;
    padding-top: 25px;
    padding-bottom: 15%;
}

a {
    text-decoration: none;
}

.contentmobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.blogcontainer {
    border-left: 1px solid #e3e3e3;
    padding-bottom: 15%;
}


.headercontainer {
    padding: 30px 0 30px 50px;
    border-bottom: 1px solid #e3e3e3;
}

.mobile {
    max-width: 550px;
    margin: 0 auto;
    padding: 0 25px;
}