<div fxShow fxHide.gt-md
fxLayoutAlign="center"> 
  <ul>
    <li><a class="fa fa-linkedin" target="_blank" href="https://linkedin.com/in/ayrra/"></a></li>
    <li><a class="fa fa-github" target="_blank" href="https://www.github.com/ayrra"></a></li>
    <li><a class="fa fa-envelope" target="_blank" href="mailto:andy@yrra.net"></a></li>
    <li><a class="fa fa-facebook" target="_blank" href="https://www.facebook.com/andres.yrra"></a></li>
    <li><a class="fa fa-flickr" target="_blank" href="https://www.flickr.com/7_u"></a></li>
  </ul>
</div>
