<div class="contentcontainer" class.md="contentmobile" class.sm="contentmobile" class.xs="contentmobile">
  <h1> About Andres Yrra</h1>
  
  <div class.md="maxwidth" class.sm="maxwidth" class.xs="maxwidth">
    <blockquote><p><strong>TL;DR – </strong>Full-Stack JavaScript Developer</p></blockquote>
    <p>I'm a JavaScript developer currently looking for opportunites</p>
    <p>Self-taught web development through courses from Coursera, FreeCodeCamp, ReactTraining, and Pragmatic Studios</p>
    <p><strong>Front-End: </strong>Angular and React, I love building sites using componenets.</p>
    <p><strong>Back-End: </strong>I build REST API's using Node, Express, and MongoDB.</p>
    <p><strong>Past: </strong>Includes building sites using Ruby on Rails and WordPress.</p>
    <p><strong>About Me: </strong>CS degree from San Diego State University, I love playing video games and messing with servers.</p>
    <p><strong>Favorite Tools: </strong>JavaScript, Node, HTML, CSS, Angular, React, Express, and MongoDB</p>
  </div>
</div>